*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background: url(images/randomLetters.jpg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}