*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #212E3B;
    background: url(images/randomLetters.jpg);
    background-size: 100%;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: 900;
    color: rgb(102, 252, 241);
    margin: 9rem 0 0 0;

}
h2{
    text-align: center;
    font-size: 1rem;
    color: rgba(102, 252, 241, 0.8);
    margin: 0 0 4.5rem 0;
}
div{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}
.text{
    margin: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: rgb(232, 252, 230);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    resize: none;
}
.button{
    align-items: center;
    margin: 0.1rem;
    padding: 0.5rem;
    border: solid #66FCF1;
    border-radius: 6rem;
    font-size: 1.75rem;
    width: 16rem;
    color: white;
    background-color: rgba(0, 255, 255, 0.8);
}
.button:hover{
    background-color: rgba(0, 255, 255, 0.2);
    cursor: pointer;
}
#button-secondary{
    background-color: #E10303;
    border: none;
}
#button-secondary:hover{
    background-color: #c90606;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
textarea[disabled]{
    cursor: url(images/bx-search.svg), auto;
}
@media screen and (max-width: 600px){
    h1{
        font-size: 2rem;
        margin: 5rem 0 0 0;
    }
    h2{
        font-size: 0.8rem;
        margin: 0 0 2.5rem 0;
    }
    .button{
        justify-content: center;
        font-size: 1.5rem;
        width: 12rem;
    }
    div{
        display: block;
    }
    .text{
        font-size: 0.9rem;
    }
}
